*.py[co]

# Packages
*.egg
*.egg-info
/dist
/build
/eggs
/parts
/bin
/var
/sdist
/develop-eggs
/local

# Installer logs
pip-log.txt

# Unit test / coverage reports
/.coverage
/.tox
/htmlcov

# Translations
*.mo

# mr.developer
/.mr.developer.cfg
/.installed.cfg

# developement
/.project
/.pydevproject
/.settings
.DS_Store
*.swp
local.cfg

# virtualenv
/include
/lib
/.Python

