[buildout]
extensions = mr.developer

extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.2.x.cfg

package-name = plone.app.imagecropping
package-extras = [test]


parts += omelette


[test]
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}



