exclude *.cfg *.in *.nix *.sh *.conf *.js *.json Procfile .jshintrc *-mxdev.txt
exclude Makefile .installed.txt .editorconfig .prettierignore pyproject.toml .coveragerc
recursive-include docs *
recursive-include src *
include *.rst
include *.sh
global-exclude *.pyc
include *.js
include *.json
include *.lock
include *.txt
recursive-include resources *.js
recursive-include resources *.scss
