@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "cropperjs/dist/cropper";

.pat-imagecrop-scaleselect {
    &.autotabs {
        padding: 1em;
    }
    div.items.scaleselector {
        .list-group {
            .list-group-item {
                position: relative;
                display: block;
                padding: 10px 15px;
                margin-bottom: -1px;
                background: #f2f1f1;
                border: 1px solid var(--bs-light);
                cursor: pointer;
                div.preview-container {
                    div.crop-preview {
                        img {
                            max-width: 100%;
                        }
                    }
                }
                &:first-child {
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                }
                &:last-child {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                &.active {
                    // border-right: 0;
                    background: white;
                    color:black;
                    cursor: default;
                }
                &.active:first-child {
                    border-top-right-radius: 0px;
                }
                &.active:last-child {
                    border-bottom-right-radius: 0px;
                }
                .label {
                    float: right;
                }
                &.impossible {
                    cursor: default;
                }
            }
        }
    }
    #fieldset-image {
        width: 100%;
    }
    div.singlecroppingarea {
        .pat-image-crop {
            padding-left: 15px;
            padding-right: 15px;
        }
        &.active {
            display: block;
        }
        &.inactive {
            display: none;
        }
        .pat-image-cropper {
            padding: 4px 0px;
            img {
                width: 100%;
            }
        }
        .scale-info {
            padding: 0 6px 10px 120px;
            .nowrap {
                white-space: nowrap;
            }
        }
        .crop-buttons {
            padding-right: 0;
        }
    }
    nav {
        float: none;
        padding: 0;
        margin: 0 0 0.3em 0;
        border: 0;
        border-bottom: 1px solid #ddd;
        background: #eee none repeat scroll 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -ie-border-radius: 4px 4px 0 0;
        -o-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        &:after {
            content: "";
            display: table;
            line-height: 0;
        }
        a {
            display: inline-block;
            margin: 0.5em 0 -1px 0.5em;
            padding: 12px 12px;
            text-decoration: none;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ie-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            background-color: #fff;
            height: 50px;
            img {
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ie-border-radius: 3px;
                -o-border-radius: 3px;
                border-radius: 3px;
                // fit into tab bar
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
            &:focus {
                outline-style: none;
            }
            &.active {
                border: 1px solid #ddd;
                border-bottom-color: #fff;
                color: #555555;
                cursor: default;
            }
            &.inactive {
                border: 1px solid #eee;
                border-bottom-color: #ddd;
            }
            &.inactive:hover {
                border: 1px solid #ddd;
                border-bottom-color: #fff;
            }
        }
        button.save-all {
            margin: 1em;
        }
    }
    fieldset {
        &.inactive {
            display: none;
        }
    }
}

#scale-crop-preview {
    .crop-preview {
        width:250px;
        height:250px;
    }
}
